*{
    padding: 0;
    margin: 0;
}

.dashboard{
    min-height: 100vh;
    background-color: #e2edff;
    padding-top: 200px;
    text-align: center;
}

.dashboard button {
    padding: 10px;
    text-align: center;
    margin-top: 25px;
}